<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
  <title>首页</title>
  <link rel="stylesheet" href="../asset/css/common.css">
  <link rel="stylesheet" href="../asset/css/index.css">
  <script type="text/javascript" src="../vendor/jquery/jquery-1.12.4.js"></script>
  <script type="text/javascript" src="../vendor/flexible.js"></script>
  <script type="text/javascript" src="../asset/js/index.js"></script>
</head>
<body class="home">
<div class="wrap">
  <header>
    <img class="h-logo" src="../asset/image/index/logo@2x.png">
    <span class="h-bar">|</span>
    <span class="h-title">智能体脂秤S7</span>
    <img class="h-portrait" id="setting"  src="../asset/image/index/icon@2x.png">
  </header>
  <div class="content">
    <div class="content-sub" id="major-link">
      <a href="####" >
        <div class="total-analyze-link">
          <img src="../asset/image/index/analysis@2x.png" class="icon-img">
          <div class="label-title">
            <p class="label-title1">总体统计分析</p>
            <p class="label-title2">总体指标，设备活跃度</p>
          </div>
        </div>
      </a>
    </div>
    <div class="content-sub" id="user-link">
      <a href="####" >
        <div class="total-analyze-link">
          <img src="../asset/image/index/distribution@2x.png" class="icon-img">
          <div class="label-title">
            <p class="label-title1">用户成分分布</p>
            <p class="label-title2">地域、年龄、性别、TGI</p>
          </div>
        </div>
      </a>
    </div>
    <div class="content-sub" id="health-link">
      <a href="####" >
        <div class="total-analyze-link">
          <img src="../asset/image/index/health@2x.png" class="icon-img">
          <div class="label-title">
            <p class="label-title1">用户健康状况</p>
            <p class="label-title2">体型标签、健康指标</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="mask login-hide">
  <div class="login-out">
    <span id="login-out">退出登录</span>
  </div>
</div>
</body>
</html>